@using LibraryManagerMvc.Data.Enums;
@model LibraryManagerMvc.Data.Entities.Book;
@{
	ViewData["Title"] = "Update Book";
}

<h1>Update Book</h1>
<hr />

<p>Fill out this form to update the selected book with new information.</p>

<div class="row">
	<div class="col-md-6">
		<form method="post">
			<input style="display:none" asp-for="Id" class="form-control" />
			<input style="display:none" asp-for="Created" class="form-control" />
			<div class="mb-3">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="Author" class="control-label"></label>
				<input asp-for="Author" class="form-control" />
				<span asp-validation-for="Author" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="Category" class="control-label"></label>
				<select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control"></select>
				<span asp-validation-for="Category" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="YearPublished" class="control-label"></label>
				<input asp-for="YearPublished" class="form-control" />
				<span asp-validation-for="YearPublished" class="text-danger"></span>
			</div>

			<button class="btn btn-success">Update</button>
			<a asp-controller="Books" asp-action="ViewAll" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
</div>
