@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ready to explore the libray? <a asp-area="" asp-controller="Books" asp-action="Index">Jump right in.</a>.</p>
</div>
